.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white; 
    margin: 4px;
    cursor: pointer;
    user-select: none;

}

/* sombre el boton cuando colocas el cursor sobre el */
.boton-contenedor:hover{
   background-color: #5a01a7; 
}

.operador {
    background-color: rgb(149, 206, 187);
}

.operador:hover {
    background-color: rgb(218, 205, 37);
}